<%-include('../views/partials/header.ejs')%>
<h1>Graph</h1>

<div class="wrapper">
  <div class="big_screen">
    <img src="/images/metrics.svg" alt="metrics" />
  </div>
  <div class="chart">
    <canvas id="myChart" ></canvas>
  </div>
</div>

<div class="graphs">
  <button class="button" onclick="chartType('doughnut')">Dough-nut</button>
  <button class="button" onclick="chartType('pie')">Pie</button>
  <button class="button" onclick="chartType('radar')">Radar</button>
  <button class="button" onclick="chartType('bar')">Bar</button>
  <button class="button" onclick="chartType('line')">Line</button>
</div>
<style>
  body {
    margin-bottom: 10vh;
  }
</style>

<script>
  let ctx = document.getElementById("myChart").getContext("2d");
  let data = {
    labels: ["Type A", "Type B", "Type C"],
    datasets: [
      {
        label: "Money Distribution",
        data: [Number("<%=t1%>"), Number("<%=t2%>"), Number("<%=t3%>")],
        backgroundColor: [
          "rgb(255, 99, 132)",
          "rgb(54, 162, 235)",
          "rgb(255, 205, 86)",
        ],
        hoverOffset: 4,
      },
    ],
  };

  let config = {
    type: "line",
    data: data,
    options: {
      responsive: false,
      scales: {
        y: {
          min: 0,
        },
      },
    },
  };
  let config2 = {
    type: "bar",
    data: data,
    options: {
      responsive: false,
      scales: {
        y: {
          min: 0,
        },
      },
    },
  };
  let config3 = {
    type: "doughnut",
    data: data,
    options: {
      responsive: false,
      scales: {
        y: {
          min: 0,
        },
      },
    },
  };
  let config4 = {
    type: "pie",
    data: data,
    options: {
      responsive: false,
      scales: {
        y: {
          min: 0,
        },
      },
    },
  };
  let config5 = {
    type: "radar",
    data: data,
    options: {
      responsive: false,
      scales: {
        y: {
          min: 0,
        },
      },
    },
  };

  let myChart = new Chart(ctx, config);

  function chartType(type) {
    myChart.destroy();
    if (type === "bar") {
      myChart = new Chart(ctx, config2);
    }
    if (type === "line") {
      myChart = new Chart(ctx, config);
    }
    if (type === "doughnut") {
      myChart = new Chart(ctx, config3);
    }
    if (type === "pie") {
      myChart = new Chart(ctx, config4);
    }
    if (type === "radar") {
      myChart = new Chart(ctx, config5);
    }
  }
</script>

<%-include('../views/partials/footer.ejs')%>
