<%-include('../views/partials/header.ejs')%>
<h1>Graph</h1>

<canvas id="myChart" width="100" height="100"></canvas>

<script>
    
  var ctx = document.getElementById("myChart").getContext("2d");
  const data = {
    labels: ["Type A", "Type B", "Type C"],
    datasets: [
      {
        label: "My First Dataset",
        data:[ Number("<%=t1%>"),Number("<%=t2%>"),Number("<%=t3%>")],
        backgroundColor: [
          "rgb(255, 99, 132)",
          "rgb(54, 162, 235)",
          "rgb(255, 205, 86)",
        ],
        hoverOffset: 4,
      },
    ],
  };

  const config = {
    type: "doughnut",
    data: data,
  };

  var myChart = new Chart(ctx,config);

</script>


<%-include('../views/partials/footer.ejs')%>
