<%-include('../views/partials/header.ejs')%>
<div>
    <img src="/images/male_avatar.svg" alt="male_avatar">
</div>
<h1>Name is <%= name %></h1>
<p>Age is <%= age %></p>
<h1>Amount Left is <%= mleft %></h1>
<%-include('../views/partials/footer.ejs')%>
