<%-include('../views/partials/header.ejs')%>
<div class="wrapper">
    <div>
        <h1>Name is <%= name %></h1>
<p>Age is <%= age %></p>
<h1>Amount Left is <%= mleft %></h1>
    </div>

<div>
    <img src="/images/male_avatar.svg" alt="male_avatar">
</div>    
</div>


<%-include('../views/partials/footer.ejs')%>
